#search-box {
  margin-bottom: 30px;
  margin-top: 30px;
}

mat-form-field {
  width: 400px;
}

mat-card {
  width: 30%;
  display: inline-block;
  margin: 10px;
}

mat-card-content {
  margin-top: 10px;
}


mat-card-header img {
  text-align: center;
  margin: 0 auto;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.image-sm {
  width: 20%;
  height: 15%;
}

.actions {
  margin-top: -40px;
}

.loading-spinner {
  position: relative;
  left: 50%;
}
