mat-card {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.add-restaurant-button {
  margin-left: 10px;
}

.loading-spinner {
  position: relative;
  left: 42%;
  margin-top: 20px;
  margin-bottom: 20px;
}
