<h2 class="text-center">Редактирате ресторант: {{restaurant.name}}</h2>
<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <h2>Корица на ресторанта</h2>
        <img mat-card-xl-image src="{{restaurant.coverImageUrl}}" alt="cover image">

        <h2>Лого на ресторанта</h2>
        <img mat-card-xl-image src="{{restaurant.logoImageUrl}}" alt="logo image">
      </div>
      <div class="col-md-8">
        <form [formGroup]="form">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Име на ресторант" formControlName="name" required>
            <mat-error>
              Моля въведете име на ресторанта
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Локация на ресторанта" formControlName="location" required>
            <mat-error>
              Моля въведете локация на ресторанта
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Статус на ресторант</mat-label>
            <mat-select id="restaurant-status" formControlName="active">
              <mat-option value="inactive">неактивен</mat-option>
              <mat-option value="active">активен</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row">
            <div class="col-md-6">
                <h3>Избери корица на ресторанта</h3>
                <button type="button" mat-raised-button (click)="fileInputCoverImage.click()"> <mat-icon>attachment</mat-icon> Качи файл</button>
              <br>
              <span *ngIf="selectedCoverImage" class="mat-active">
                  Избран файл: {{selectedCoverImage}}
                </span>
                <input hidden (change)="onFileSelect($event, 'coverImage')" #fileInputCoverImage type="file" id="file-cover">
            </div>
            <div class="col-md-6">
              <h3>Избери лого на ресторанта</h3>
              <button type="button" mat-raised-button (click)="fileInputLogoImage.click()"> <mat-icon>attachment</mat-icon> Качи файл</button>
              <br>
              <span *ngIf="selectedLogoImage" class="mat-active">
                Избран файл: {{selectedLogoImage}}
              </span>
              <input hidden (change)="onFileSelect($event, 'logoImage')" #fileInputLogoImage type="file" id="file-logo">
            </div>
          </div>
          <br>
          <div class="row"></div>
          <button mat-raised-button color="primary" class="edit-restaurant-button text-white" (click)="editRestaurant(restaurant.id)"> <mat-icon>save</mat-icon> Запази</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
