<h2 class="text-center">Редактирате ресторант: {{restaurant.name}}</h2>
<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <img mat-card-xl-image src="data:{{restaurant.contentType}};base64,{{restaurant.image}}" alt="">
      </div>
      <div class="col-md-8">
        <form [formGroup]="form">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Име на ресторант" formControlName="name" required>
            <mat-error>
              Моля въведете име на ресторанта
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Локация на ресторанта" formControlName="location" required>
            <mat-error>
              Моля въведете локация на ресторанта
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Статус на ресторант</mat-label>
            <mat-select id="restaurant-status" formControlName="active">
              <mat-option value="inactive">неактивен</mat-option>
              <mat-option value="active">активен</mat-option>
            </mat-select>
          </mat-form-field>
          <h3>Избери картинка</h3>
          <button type="button" mat-raised-button (click)="fileInput.click()"> <mat-icon>attachment</mat-icon> Качи файл</button>
          <span *ngIf="selectedImage" class="mat-active">
        Избран файл: {{selectedImage}}
      </span>
          <input hidden (change)="onFileSelect($event)" #fileInput type="file" id="file">
          <button mat-raised-button color="primary" class="edit-restaurant-button" (click)="editRestaurant(restaurant.id)"> <mat-icon>create</mat-icon> Редактирай</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>
