mat-card {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.add-product-button {
  margin-left: 10px;
}

.mat-dialog-container {
  margin: 0 auto;
}
