<div class="text-center">
  <h2>Всички ресторанти</h2>
</div>
<mat-divider></mat-divider>
<input class="form-control" type="text" placeholder="Търси ресторант" id="search-box" (ngModelChange)="fetchRestaurants({pageIndex:0})" [(ngModel)]="searchText" aria-label="Search">

<div class="loading-spinner" *ngIf="!restaurants">
  <div>
    <mat-progress-spinner
      class="example-margin"
      [color]="color"
      [mode]="mode"
      [value]="value">
    </mat-progress-spinner>
  </div>
</div>

<div *ngIf="restaurants">
  <mat-card class="example-card" *ngFor="let restaurant of restaurants" id="restaurant-cards">
    <button class="right" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToProducts(restaurant.id)">
        <mat-icon>create</mat-icon>
        <span>
        Редактирай
      </span>
      </button>
      <button *ngIf="isAdmin()" mat-menu-item (click)="deleteRestaurant(restaurant)">
        <mat-icon>delete_forever</mat-icon>
        <span>Изтрий</span>
      </button>
    </mat-menu>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <a routerLink="/restaurants/{{restaurant.id}}/products">{{restaurant.name}}</a>
      </mat-card-title>
      <mat-card-subtitle>{{restaurant.location}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="text-center">
      <img mat-card-xl-image src="data:{{restaurant.contentType}};base64,{{restaurant.image}}" alt="Restaurant photo">
    </mat-card-content>
  </mat-card>

    <mat-paginator [length]="totalElements"
                   [pageSize]="size"
                   [pageIndex]="page"
                   [pageSizeOptions]="[6]"
                   (page)="fetchRestaurants($event)">
    </mat-paginator>
</div>


